<h1>Showing article details.</h1>
<p>By <%= @article.user.username if @article.user%></p>

<%= link_to gravatar_for(@article.user), user_path(@article.user)%>>
<p> <strong>Title:<%=@article.title %></strong></p>
<p> <strong>Title:<%=@article.description %></strong></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
<%= link_to 'return to article listing', articles_path %>