<h1>Category Form</h1>

<% if @category.errors.any? %>
  <h2>We have some validation errors listed below.</h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li>
    <%end%>
  </ul>
<%end%>

<%= form_with(model: @category, local: true) do |f|%>
  <p>
    <%= f.label :name, "Category Name"%><br />
    <%=f.text_field :name%>
  </p>

  <p>
    <%= f.submit "Create category"%>
  </p> 
<% end %>